<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cookedapp.cooked">

    <application
        android:label="${appNameRes}"
        android:icon="${appIconRes}"
        android:roundIcon="${appIconRoundRes}"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/Theme.Cooked"
        android:name="ru.cookedapp.cooked.ui.CookedApp">
        <activity android:name="ru.cookedapp.cooked.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
